<div>
    <h2 data-translate="coursesAlphaQsApp.turma.home.title">Turmas</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="turma.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="coursesAlphaQsApp.turma.home.createLabel">
                        Create new Turma
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="coursesAlphaQsApp.turma.codigoturma">Codigoturma</span></th>
                    <th><span data-translate="coursesAlphaQsApp.turma.horario">Horario</span></th>
                    <th><span data-translate="coursesAlphaQsApp.turma.disciplina">Disciplina</span></th>
                    <th><span data-translate="coursesAlphaQsApp.turma.professor">Professor</span></th>
                    <th><span data-translate="coursesAlphaQsApp.turma.aluno">Aluno</span></th>
                    <th><span data-translate="coursesAlphaQsApp.turma.sala">Sala</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="turma in vm.turmas track by turma.id">
                    <td><a ui-sref="turma-detail({id:turma.id})">{{turma.id}}</a></td>
                    <td>{{turma.codigoturma}}</td>
                    <td>{{turma.horario}}</td>
                    <td>
                        <a ui-sref="disciplina-detail({id:turma.disciplina.id})">{{turma.disciplina.nome}}</a>
                    </td>
                    <td>
                        <a ui-sref="professor-detail({id:turma.professor.id})">{{turma.professor.nome}}</a>
                    </td>
                    <td>
                        <span ng-repeat="aluno in turma.alunos">
                            <a class="form-control-static" ui-sref="aluno-detail({id: aluno.id})">{{aluno.nome}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="sala in turma.salas">
                            <a class="form-control-static" ui-sref="sala-detail({id: sala.id})">{{sala.endereco}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="turma-detail({id:turma.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="turma.edit({id:turma.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="turma.delete({id:turma.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
