
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTurmaLabel" data-translate="coursesAlphaQsApp.turma.home.createOrEditLabel">Create or edit a Turma</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.turma.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.turma.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.turma.codigoturma" for="field_codigoturma">Codigoturma</label>
            <input type="text" class="form-control" name="codigoturma" id="field_codigoturma"
                    ng-model="vm.turma.codigoturma"
                    required />
            <div ng-show="editForm.codigoturma.$invalid">
                <p class="help-block"
                    ng-show="editForm.codigoturma.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.turma.horario" for="field_horario">Horario</label>
            <input type="text" class="form-control" name="horario" id="field_horario"
                    ng-model="vm.turma.horario"
                    required />
            <div ng-show="editForm.horario.$invalid">
                <p class="help-block"
                    ng-show="editForm.horario.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="coursesAlphaQsApp.turma.disciplina" for="field_disciplina">Disciplina</label>
            <select class="form-control" id="field_disciplina" name="disciplina" ng-model="vm.turma.disciplina" ng-options="disciplina as disciplina.nome for disciplina in vm.disciplinas track by disciplina.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.disciplina.$invalid">
            <p class="help-block"
                ng-show="editForm.disciplina.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="coursesAlphaQsApp.turma.professor" for="field_professor">Professor</label>
            <select class="form-control" id="field_professor" name="professor" ng-model="vm.turma.professor" ng-options="professor as professor.nome for professor in vm.professors track by professor.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.professor.$invalid">
            <p class="help-block"
                ng-show="editForm.professor.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="coursesAlphaQsApp.turma.aluno" for="field_aluno">Aluno</label>
            <select class="form-control" id="field_aluno" multiple name="aluno" ng-model="vm.turma.alunos" ng-options="aluno as aluno.nome for aluno in vm.alunos track by aluno.id" required></select>
        </div>
        <div ng-show="editForm.aluno.$invalid">
            <p class="help-block"
                ng-show="editForm.aluno.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="coursesAlphaQsApp.turma.sala" for="field_sala">Sala</label>
            <select class="form-control" id="field_sala" multiple name="sala" ng-model="vm.turma.salas" ng-options="sala as sala.endereco for sala in vm.salas track by sala.id" required></select>
        </div>
        <div ng-show="editForm.sala.$invalid">
            <p class="help-block"
                ng-show="editForm.sala.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
