
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCalendarioLabel" data-translate="coursesAlphaQsApp.calendario.home.createOrEditLabel">Create or edit a Calendario</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.calendario.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.calendario.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.calendario.evento" for="field_evento">Evento</label>
            <input type="text" class="form-control" name="evento" id="field_evento"
                    ng-model="vm.calendario.evento"
                    required />
            <div ng-show="editForm.evento.$invalid">
                <p class="help-block"
                    ng-show="editForm.evento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.calendario.dataInicio" for="field_dataInicio">Data Inicio</label>
                <div class="input-group">
                    <input id="field_dataInicio" type="text" class="form-control" name="dataInicio" uib-datepicker-popup="{{dateformat}}" ng-model="vm.calendario.dataInicio" is-open="vm.datePickerOpenStatus.dataInicio"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataInicio')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.calendario.dataFim" for="field_dataFim">Data Fim</label>
                <div class="input-group">
                    <input id="field_dataFim" type="text" class="form-control" name="dataFim" uib-datepicker-popup="{{dateformat}}" ng-model="vm.calendario.dataFim" is-open="vm.datePickerOpenStatus.dataFim"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataFim')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
