
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAlunoLabel" data-translate="coursesAlphaQsApp.aluno.home.createOrEditLabel">Create or edit a Aluno</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.aluno.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.aluno.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.aluno.dre" for="field_dre">Dre</label>
            <input type="text" class="form-control" name="dre" id="field_dre"
                    ng-model="vm.aluno.dre"
                    required ng-minlength="9" ng-maxlength="9" />
            <div ng-show="editForm.dre.$invalid">
                <p class="help-block"
                    ng-show="editForm.dre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.dre.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="9">
                    This field is required to be at least 9 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.dre.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="9">
                    This field cannot be longer than 9 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.aluno.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.aluno.nome"
                    required ng-minlength="2" ng-maxlength="30" />
            <div ng-show="editForm.nome.$invalid">
                <p class="help-block"
                    ng-show="editForm.nome.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.nome.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="2">
                    This field is required to be at least 2 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.nome.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.aluno.sobrenome" for="field_sobrenome">Sobrenome</label>
            <input type="text" class="form-control" name="sobrenome" id="field_sobrenome"
                    ng-model="vm.aluno.sobrenome"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.aluno.sexo" for="field_sexo">Sexo</label>
            <input type="text" class="form-control" name="sexo" id="field_sexo"
                    ng-model="vm.aluno.sexo"
                    ng-minlength="1" ng-maxlength="1" ng-pattern="/(^[f,m])/" />
            <div ng-show="editForm.sexo.$invalid">
                <p class="help-block"
                    ng-show="editForm.sexo.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.sexo.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="1">
                    This field cannot be longer than 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.sexo.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="(^[f,m])">
                    This field should follow pattern "(^[f,m])".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.aluno.cpf" for="field_cpf">Cpf</label>
            <input type="text" class="form-control" name="cpf" id="field_cpf"
                    ng-model="vm.aluno.cpf"
                    required ng-minlength="11" ng-maxlength="11" ng-pattern="/(^[0-9]*$)/" />
            <div ng-show="editForm.cpf.$invalid">
                <p class="help-block"
                    ng-show="editForm.cpf.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.cpf.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="11">
                    This field is required to be at least 11 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.cpf.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="11">
                    This field cannot be longer than 11 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.cpf.$error.pattern" data-translate="entity.validation.pattern" translate-value-pattern="(^[0-9]*$)">
                    This field should follow pattern "(^[0-9]*$)".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.aluno.dataNascimento" for="field_dataNascimento">Data Nascimento</label>
                <div class="input-group">
                    <input id="field_dataNascimento" type="text" class="form-control" name="dataNascimento" uib-datepicker-popup="{{dateformat}}" ng-model="vm.aluno.dataNascimento" is-open="vm.datePickerOpenStatus.dataNascimento"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataNascimento')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.dataNascimento.$invalid">
                <p class="help-block"
                    ng-show="editForm.dataNascimento.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
