
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInscricaoLabel" data-translate="coursesAlphaQsApp.inscricao.home.createOrEditLabel">Create or edit a Inscricao</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.inscricao.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.inscricao.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.inscricao.situacao" for="field_situacao">Situacao</label>
            <select class="form-control" name="situacao" ng-model="vm.inscricao.situacao" id="field_situacao" required>
                <option value="A" data-translate="coursesAlphaQsApp.Situacao.A">A</option>
                <option value="B" data-translate="coursesAlphaQsApp.Situacao.B">B</option>
                <option value="C" data-translate="coursesAlphaQsApp.Situacao.C">C</option>
                <option value="D" data-translate="coursesAlphaQsApp.Situacao.D">D</option>
            </select>
            <div ng-show="editForm.situacao.$invalid">
                <p class="help-block"
                    ng-show="editForm.situacao.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.inscricao.nota" for="field_nota">Nota</label>
            <select class="form-control" name="nota" ng-model="vm.inscricao.nota" id="field_nota">
                <option value="A" data-translate="coursesAlphaQsApp.Nota.A">A</option>
                <option value="B" data-translate="coursesAlphaQsApp.Nota.B">B</option>
                <option value="C" data-translate="coursesAlphaQsApp.Nota.C">C</option>
                <option value="D" data-translate="coursesAlphaQsApp.Nota.D">D</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="coursesAlphaQsApp.inscricao.frequencia" for="field_frequencia">Frequencia</label>
            <input type="number" class="form-control" name="frequencia" id="field_frequencia"
                    ng-model="vm.inscricao.frequencia"
                    min="0" max="1" />
            <div ng-show="editForm.frequencia.$invalid">
                <p class="help-block"
                    ng-show="editForm.frequencia.$error.min" data-translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.frequencia.$error.max" data-translate="entity.validation.max" translate-value-max="1">
                    This field cannot be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.frequencia.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="coursesAlphaQsApp.inscricao.turma" for="field_turma">Turma</label>
            <select class="form-control" id="field_turma" name="turma" ng-model="vm.inscricao.turmaId" ng-options="turma.id as turma.id for turma in vm.turmas"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.turma.$invalid">
            <p class="help-block"
                ng-show="editForm.turma.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="coursesAlphaQsApp.inscricao.aluno" for="field_aluno">Aluno</label>
            <select class="form-control" id="field_aluno" name="aluno" ng-model="vm.inscricao.alunoId" ng-options="aluno.id as aluno.nome for aluno in vm.alunos"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.aluno.$invalid">
            <p class="help-block"
                ng-show="editForm.aluno.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
